h1 {
    color: #007BFF; /* Change color to blue, you can use any valid color code */
    text-align: center;
}
#userForm {
    width: 250px;
    background-color: #f0f0f0;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Style form labels and inputs */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style the submit button */
button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Style the welcome message */
#welcomeMessage {
    margin-top: 20px;
    font-weight: bold;
    color: #007BFF;
}
p {
    font-size: 30px;
}